@media all and (min-width: 576px) {
    .col-sm-1 {
        flex-basis: calc((100% / 12) * 1);
    }

    .col-sm-2 {
        flex-basis: calc((100% / 12) * 2);
    }
} 


@media all and (min-width: 768px) {
    .col-md-1 {
        flex-basis: calc((100% / 12) * ...);
    }

    .col-md-2 {
        flex-basis: calc((100% / 12) * ...);
    }
} 

@media all and (min-width: 992px) {
    .col-lg-1 {
        flex-basis: calc((100% / 12) * ...);
    }

    .col-lg-2 {
        flex-basis: calc((100% / 12) * ...);
    }
} 

/* stile immagini  */

.container-fluid-2 {
    margin-top: 55px;
    background-color: #1abc9c;
    color: white;
}

img {
    height: 200px;
    margin-top: 20px;
}

.fs-6 {
    margin-left: 3em;
    margin-right: 3em;
}


.btn{
    border: 1px solid white;
    color: white;
}

.container-fluid-1 {
    background-color: #1abc9c;
    color: white;
    margin-top: 20px;
}

.container-fluid-3 {
    margin-top: 20px;
}

.container-fluid-3 .btn {
    margin-top: 60px ;
    background-color: #1abc9c;
}

.container-fluid-4 {
    margin-top: 20px;
    background-color: #3a546d ;
    color: white;
}

.container-fluid-4 i{
    margin: 1em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
}



